
.c_container_div
{
  max-width: 600px;
  position: relative;
}

.c_rowContainer_div
{
  margin-top: 64px;
  max-width: 590px;
  overflow-x: auto;
}

.mainHeader {
  font-size: 50px;
  color: gray;
  font-family:'Amatic SC';
  text-align: center;
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 590px;
  height: 64px;
  background: white;
  z-index: 2;
}

.playIcon {
  width: 60px;
  height: 50px;
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 10px;
  background:url('../media/play.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center;
}

.thingsIcon {
  width: 60px;
  height: 50px;
  position: absolute;
  left: 10px;
  cursor: pointer;
  top: 10px;
  background:url('../media/settings.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center;
}

.settings-div {
  display: none;
  margin-top: 64px;
  max-width: 590px;
  //min-width: 160px;
  //min-height: 250px;
  //position: absolute;
  //left: 10px;
  //top: 100px;
  //background: red; 
  //background-size: contain; 
  //background-repeat: no-repeat; 
  //background-position: center;
}

.settingsRow {
  position: relative;
  height: 64px;
  border-top: solid 1px gray;
  min-width: 570px;
  padding-left: 70px;
  padding-top: 11px;
  font-size: 30px;
  color: gray;
  font-family:'Amatic SC';
}

.speedIcon {
  background:url('../media/speed.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center;
}

.libraryIcon {
  cursor: pointer;
  background:url('../media/library.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center;
}

.shareIcon {
  background:url('../media/share.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center;
}

.leftIcon {
  position: absolute;
  cursor: pointer;
  left: 160px;
  top: 2px;
  width: 50px;
  height: 64px;
  background:url('../media/left.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center;
}

.rightIcon {
  position: absolute;
  cursor: pointer;
  left: 320px;
  top: 2px;
  width: 50px;
  height: 64px;
  background:url('../media/right.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center;
}

.settingIcon {
  position: absolute;
  left: 10px;
  top: 2px;
  width: 50px;
  height: 64px;
}

.settingTitle {
  display: inline-block;
  height: 64px;
  font-size: 30px;
  color: gray;
  font-family:'Amatic SC';
}

.settingValue {
  display: inline-block;
  width: 50px;
  height: 64px;
}

.toneRow {
  height: 64px;
  border-top: solid 1px gray;
  text-align: center;
  min-width: 570px;
}

.instrumentRow {
  position: fixed;
  bottom: 0px;
  padding-bottom: 10px;
  width: 590px;
  height: 74px;
  background: white;
  //border-top: solid 1px gray;
  text-align: center;
}

.colorRowWrap {
  position: fixed;
  bottom: 74px;
  background: white;
  width: 100%;
  height: 64px;
  overflow-x: auto;
}

.colorRow {
  width: 590px;
  height: 64px;
  text-align: center;
  margin-left: 0px;
}

.token {
  height: 60px;
  width: 64px;
  background: #fafafa;
  border: solid 1px #fafafa;
  display: inline-block;
}

.colorPick {
  height: 64px;
  width: 64px;
  border: 1px dashed white;
  display: inline-block;
}

.instrumentPick {
  height: 64px;
  width: 64px;
  border: 1px dashed white;
  display: inline-block;
}

.guitarPick {
  background: url('../media/guitar.png');
  background-size: contain;
  background-position: center;
}

.xyloPick {
  background: url('../media/xylophone.png');
  background-size: contain;
  background-position: center;
}

.frulaPick {
  background: url('../media/pipe.png');
  background-size: contain;
  background-position: center;
}

.trombonePick {
  background: url('../media/trombone.png');
  background-size: contain;
  background-position: center;
}
.drumsPick {
  background: url('../media/drums.png');
  background-size: contain;
  background-position: center;
}
.harfPick {
  background: url('../media/harp.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.violinPick {
  background: url('../media/violin.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.saxPick {
  background: url('../media/sax.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.redPick {
  color: #EE6352;
}

.yellowPick {
  color: #F4D35E;
}

.orangePick {
  color: #FF8552;
}

.greenPick {
  color: #57A773;
}

.purplePick {
  color: #673ab7;
}

.bluePick {
  color: #08B2E3;
}

.pinkPick {
  color: #E4959E;
}

.red1Pick {
  color: #FE7362;
}

.circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 5px solid;
  margin: 5px;
}

.circle2 {
  width: 54px;
  height: 54px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 4px solid;
  border-color: #fafafa;
  margin: 5px;
}

/*
@media only screen and (max-width: 800px) {
  .mainHeader {
    font-size: 40px;
    position: relative;
    height: 64px;
  }

  .toneRow {
    height: 32px;
  }

  .token {
    width: 32px;
    height: 32px;
  }

  .colorRow {
    height: 32px;
    position: absolute;
    bottom: 64px;
    margin: auto;
    margin-left: 2px;
  }

  .colorPick {
    height: 32px;
    width: 32px;
  }

  .instrumentRow {
    height: 32px;

    position: absolute;
    bottom: 16px;
    margin: auto;
    margin-left: 2px;
  }

  .instrumentPick {
    height: 32px;
    width: 32px;
  }*/
}
